/* applies to whole page, font plus box uniformity */

* {
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.forecast {

    font-size: 0.8em;

}

/* color of main title, forecast cards */

.jumbotron {
    background-color: rgb(131, 83, 175);
    color: white;
}

.col-sm-4 {
    background-color: rgb(133, 94, 170);
    text-align: center;
}

/* forecast cards change color when hovered over */

.col-sm-4:hover {
    background-color: rgb(231, 228, 228);
    color: black;
}

#searchButton {
    background-color: blue;
}

#clearHis {
    background-color: blue;
}

/* both buttons turn green when hovered over */

#searchButton:hover {
    background-color: green;
}

#clearHis:hover {
    background-color: green;
}

#enclosingBox {
    border: solid black 2px;
}

#mainBox {
    background-color: #eff0d1;
}